<!-- <div fxLayout="row" fxLayoutAlign="space-around stretch" class="full-w bc-g" style="height: calc(100vh - 17px);">
  <div fxLayout="column" class="bc-o" fxFlex="20%">
    <div style="width: 180px; height: 180px; margin: 0 auto; background-color: whitesmoke" class="m-y-i-10">

    </div>
    <div class="bc-b" fxLayoutAlign="center none">
      <mat-form-field style="margin: 0 auto">
        <input matInput placeholder="Enter your password">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="bc-dg" fxFlex="80%">
    b
  </div>
</div> -->

