<!-- <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="10px">
  <div class="box-test bc-g m-b-5" fxFlex="0 1 calc(50% - 10px)" *ngFor="let item of [1,2,3,4,5,6,7,8]" fxLayoutAlign="center center">
    {{item}}
  </div>
</div> -->
<app-dashboard></app-dashboard>
<div>
  <!-- translation: translation pipe -->
  <h1>{{ 'demo.title' | translate }}</h1>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>
</div>

<button (click)="useLanguage('en')">en</button>
<button (click)="useLanguage('jr')">de</button>