.full-w-i {
  width: 100% !important;
}
.full-h-i {
  height: 100% !important;
}
.full-wh-i {
  width: 100% !important;
  height: 100% !important;
}
// margin
.m-i-0 {
  margin: 0px !important;
}
.m-i-5 {
  margin: 5px !important;
}
.m-i-10 {
  margin: 10px !important;
}
.m-i-15 {
  margin: 15px !important;
}
.m-i-20 {
  margin: 20px !important;
}

.m-b-i-0 {
  margin-bottom: 0px !important;
}
.m-b-i-5 {
  margin-bottom: 5px !important;
}
.m-b-i-10 {
  margin-bottom: 10px !important;
}
.m-b-i-15 {
  margin-bottom: 15px !important;
}
.m-b-i-20 {
  margin-bottom: 20px !important;
}

.m-l-i-0 {
  margin-left: 0px !important;
}
.m-l-i-5 {
  margin-left: 5px !important;
}
.m-l-i-10 {
  margin-left: 10px !important;
}
.m-l-i-15 {
  margin-left: 15px !important;
}
.m-l-i-20 {
  margin-left: 20px !important;
}

.m-r-i-0 {
  margin-right: 0px !important;
}
.m-r-i-5 {
  margin-right: 5px !important;
}
.m-r-i-10 {
  margin-right: 10px !important;
}
.m-r-i-15 {
  margin-right: 15px !important;
}
.m-r-i-20 {
  margin-right: 20px !important;
}

.m-t-i-0 {
  margin-top: 0px !important;
}
.m-t-i-5 {
  margin-top: 5px !important;
}
.m-t-i-10 {
  margin-top: 10px !important;
}
.m-t-i-15 {
  margin-top: 15px !important;
}
.m-t-i-20 {
  margin-top: 20px !important;
}

.m-x-i-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.m-x-i-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.m-x-i-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.m-x-i-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.m-x-i-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.m-y-i-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.m-y-i-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-y-i-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-y-i-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.m-y-i-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

//padi-ding
.p-i-0 {
  padding: 0px !important;
}
.p-i-5 {
  padding: 5px !important;
}
.p-10i- {
  padding: 10px !important;
}
.p-15i- {
  padding: 15px !important;
}
.p-20i- {
  padding: 20px !important;
}

.p-t-i-0 {
  padding-top: 0px !important;
}
.p-t-i-5 {
  padding-top: 5px !important;
}
.p-t-i-10 {
  padding-top: 10px !important;
}
.p-t-i-15 {
  padding-top: 15px !important;
}
.p-t-i-20 {
  padding-top: 20px !important;
}

.p-b-i-0 {
  padding-bottom: 0px !important;
}
.p-b-i-5 {
  padding-bottom: 5px !important;
}
.p-b-i-10 {
  padding-bottom: 10px !important;
}
.p-b-i-15 {
  padding-bottom: 15px !important;
}
.p-b-i-20 {
  padding-bottom: 20px !important;
}

.p-l-i-0 {
  padding-left: 0px !important;
}
.p-l-i-5 {
  padding-left: 5px !important;
}
.p-l-i-10 {
  padding-left: 10px !important;
}
.p-l-i-15 {
  padding-left: 15px !important;
}
.p-l-i-20 {
  padding-left: 20px !important;
}

.p-r-i-0 {
  padding-right: 0px !important;
}
.p-r-i-5 {
  padding-right: 5px !important;
}
.p-r-i-10 {
  padding-right: 10px !important;
}
.p-r-i-15 {
  padding-right: 15px !important;
}
.p-r-i-20 {
  padding-right: 20px !important;
}

.p-x-i-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.p-x-i-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.p-x-i-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.p-x-i-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.p-x-i-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.p-y-i-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.p-y-i-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-y-i-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-y-i-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.p-y-i-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
